.custom-field{ 'data-index' => index }
  %input{:type => "hidden", :name => "#{prefix}[type]", :value => custom_field.type}
  
  .drag= image_tag "wheelhouse-forms/custom.png", :alt => "Custom Field", :title => "Custom Field"
  
  %input{:type => "text", :name => "#{prefix}[label]", :title => "Custom Field Label", :placeholder => "Custom Field Label", :value => custom_field.label}
  
  %input{:type => "text", :name => "#{prefix}[partial]", :title => "Partial", :placeholder => "Partial", :value => custom_field.partial}

  = link_to "Delete", '#', :class => 'delete'
