%div{ :class => type, 'data-index' => index }
  %input{:type => "hidden", :name => "#{prefix}[type]", :value => basic_field.type}
  
  .drag= plugin_icon :forms, "images/#{icon}.png", :alt => description, :title => description
  
  %input{:type => "text", :name => "#{prefix}[label]", :title => "#{description} Label", :placeholder => "#{description} Label", :value => basic_field.label}
  
  %label.required
    %input{:type => "checkbox", :name => "#{prefix}[required]", :value => "1", :checked => basic_field.required?}
    This field is required
  
  = link_to "Delete", '#', :class => 'delete'
