.checkboxes{ 'data-index' => index }
  %input{:type => "hidden", :name => "#{prefix}[type]", :value => checkboxes.type}
  
  .drag= plugin_icon :forms, "images/checkboxes.png", :alt => "Checkboxes", :title => "Checkboxes"
  
  %input{:type => "text", :name => "#{prefix}[label]", :title => "Checkboxes Label", :placeholder => "Checkboxes Label", :value => checkboxes.label}
  
  %label.required
    %input{:type => "checkbox", :name => "#{prefix}[required]", :value => "1", :checked => checkboxes.required?}
    This field is required
  
  = link_to "Delete", '#', :class => 'delete'
  
  %ul.options
    %li
      %label Options:
      
    - checkboxes.options(true).each do |option|
      %li
        %input{:type => "text", :name => "#{prefix}[options][]", :value => option}
