- @submissions = resource.submissions.paginate(:page => params[:p])

%h2 Latest Submissions

= table_for Forms::Submission do |table|
  - table.rows(@submissions) do |row, submission|
    - row.resource = submission
  
    - if resource.first_content_field
      = row.column(resource.first_content_field.label) { submission.value_for(resource.first_content_field) }
    
    = row.column(:submitted_at) { submission.created_at.in_time_zone.to_s(:long) }
  
    = row.controls do |c|
      = c.delete
  
  - table.empty do
    No submissions have been posted.

= will_paginate @submissions
